<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-styles.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= username %></h1>
    <a href="/contact">contact</a>
    <br>
    <a href="/contact-v2">contact</a>
    <!-- <img src="/img/ubuntu.jpg"> -->
    <script src="/js/index-script.js"></script>
</body>
</html>